:root {
    --primary-text-color: #fff;
    --secondary-text-color: #0B0A0D;

    --primary-bg-color: #0B0A0D;
    --secondary-bg-color: #fff;
    --tertiatry-bg-color: #312F35;

    --swiper-theme-color: #fff !important;

    --primary-hover-color: #75FF72;
}