.footer {
    padding: 50px 100px 80px;
    background-color: #312F35;
    display: flex;
    gap: 120px;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        padding: 80px 15px 160px;
    }

    &__wrapper {
        max-width: 400px;

        @media screen and (max-width: 768px) {
            max-width: fit-content;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 25px;
    }

    &__link {
        color: var( --primary-text-color);
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
    }

    &__socials {
        display: flex;
        gap: 30px;
        align-items: center;
        height: fit-content;

        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }
}