.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 215px;
    padding: 77px 100px;
    background-color: var(--primary-bg-color);

    @media screen and (max-width: 1024px) {
        gap: 115px;
    }

    @media screen and (max-width: 900px) {
        gap: 80px;
    }

    @media screen and (max-width: 768px) {
        justify-content: space-between;
        padding: 35px 15px;
    }

    &__nav {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__nav-list {
        display: flex;
    }
}