.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 77px 100px;
    background-color: var(--primary-bg-color);

    @media screen and (max-width: 768px) {
        justify-content: space-between;
        padding: 15px 45px;
    }

    &__nav {
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__nav-list {
        display: flex;
    }

    &__mobile-nav {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}