.news {
    padding: 0 100px 100px;

    &__title {
        font-size: 80px;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    &__image {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin-bottom: 10px;
    }
}